





.thumbnail {
  width: 100%;

}

.thumbnail-video{
  position: relative;
}
.video-time{
  position: absolute;
  font-size: medium;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  right: 4px;
  bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}
.video-title{
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}
.grid-web{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 20px;
}

@media (max-width: 500px){
  .grid-web{
    grid-template-columns: 1fr 1fr;
    
  }
}
@media (min-width: 501px) and (max-width: 699px){
  .grid-web{
    grid-template-columns: 1fr 1fr 1fr;
    
  }
}
@media (min-width: 700px){
  .grid-web{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
   }
}



.chanel-name,.video-views
{
  color:#6c757d;
  font-size: 12px;
  
}
.chanel-name{
  margin-bottom: 4px;
}


.video-info-grid{
  display: grid;
  grid-template-columns: 60px 1fr;
}
.chanel-pic{
  display: inline-block;
  width: 50px;
  vertical-align: top;
  

}
.profile-pic{
  margin-top: 5px;
  width: 100%;
  border-radius: 50px;
  
}
